services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-namenode
    restart: unless-stopped
    env_file:
      - ./hadoop/hadoop.env
    environment:
      - CLUSTER_NAME=${HADOOP_CLUSTER_NAME:-lab3-hadoop}
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - namenode:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-datanode
    restart: unless-stopped
    env_file:
      - ./hadoop/hadoop.env
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    ports:
      - "9864:9864"
    volumes:
      - datanode:/hadoop/dfs/data
    depends_on:
      - namenode

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-resourcemanager
    restart: unless-stopped
    env_file:
      - ./hadoop/hadoop.env
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864
    ports:
      - "8088:8088"
    depends_on:
      - namenode
      - datanode

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-nodemanager
    restart: unless-stopped
    env_file:
      - ./hadoop/hadoop.env
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088
    ports:
      - "8042:8042"
    depends_on:
      - resourcemanager

  historyserver:
    image: bde2020/hadoop-historyserver:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-historyserver
    restart: unless-stopped
    env_file:
      - ./hadoop/hadoop.env
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088
    ports:
      - "8188:8188"
    volumes:
      - historyserver:/hadoop/yarn/timeline
    depends_on:
      - resourcemanager

volumes:
  namenode:
  datanode:
  historyserver:
